


<div class="row m-0 p-0 h-100">

  <div class="col-8 border h-100">
    <div id="map" class="h-100"></div>
  </div>

  <div class = "col-4">

    <div *ngIf="isNewPoly===false">
      <button class="btn btn-sm btn-primary btn-block" type="submit" (click)="onNewPolyPress()">Create New Polygon</button>
      <hr>
    </div>


    <app-new-polygon *ngIf="isNewPoly"
      (notifySubmit)="newPolyConfirmed($event)"
      (notifyCancel)="newPolyCancelled()"
      notifyDrawingComplete = {{isDrawingComplete}}>
    </app-new-polygon>

    <app-details *ngIf="isNewPoly===false"></app-details>
  </div>
</div>


